@model IEnumerable<CRUDSampleApp.tblDetail>

<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-primary" onclick="Manage('@item.Id')" />
            <input type="button" value="Delete" class="btn btn-danger" onclick="DeleteDetail('@item.Id')" />
        </td>
    </tr>
}

</table>
